@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Rubik+Storm&display=swap');
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
/* html,
body {
  height: auto;
  background-color: black;
} */
body {
  position: relative;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* background-color: black; */
  font-family: "Roboto Slab", serif;
  color: white;
  background-color: black;
  // overflow-x: hidden;
  /* background-image: url("../public/images/fullscreendark.jpg"); */
  //   background: url("/home.png");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   height: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
li {
  list-style-type: none;
}
a:active {
  text-decoration: none;
}
