.container {
//   border: 5px solid pink;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding-top: 110px;
  @media (max-width: 826px) {
    grid-template-columns: 1fr;
    gap: 5vh;
  }
  
  .wrapper {
    
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: all 1s linear;
    @media (max-width: 826px) {
      .img {
        width: 100%;
        height: 100%;
      }
    }
    &:hover::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background: radial-gradient(
        circle,
        rgba(17, 17, 16, 0.2) 5%,
        rgba(119, 118, 108, 0.2) 100%
      );
    }
    &:hover span {
      bottom: 80%;
      visibility: visible;
    }
    span {
      position: absolute;
      bottom: 0;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      visibility: hidden;
      text-align: center;
      white-space: wrap;
      width: 100%;
      text-transform: capitalize;
      padding: 10px;
      transition: all 1s ease-in-out;
    }
  }
}
