.container {
  // width: 105vw;
  width: 100vw;
  height: 100vh;
  background: url("../public/images/home3.jpg"),
    linear-gradient(
      200.44deg,
      rgba(0, 0, 0, 0.0001) 16.41%,
      rgba(0, 0, 0, 0.51) 77.16%
    );

  //   border: 1px solid red;
  background-size: cover;
  //   object-fit: contain;
  //   background-repeat: no-repeat;
}

.container2 {
  width: 100vw;
  // height: 809px;
  // border: 1px solid red;
  background: white;
  // background: #e5e5e5;
  padding: 93px 0 93px 8.8vw;
  .p {
    // border: 1px solid red;
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 64px;
    position: relative;
    /* identical to box height, or 178% */
    text-transform: capitalize;
    font-feature-settings: "salt" on, "liga" off;
    /* Text / Gray 900 */
    color: #18191f;
    &::before {
      content: " ";
      width: 28.18vw;
      height: 0px;
      left: 0px;
      top: 58px;
      border: 3px solid #f4511e;
      position: absolute;
    }
  }

  p + div {
    display: flex;
    @media (max-width: 1050px) {
      flex-direction: column;
      // justify-content: center;
      align-items: center;
    }
  }
}
