.container {
  // width: 105vw;
  // width: 100vw;
  height: 100vh;
  background: url("../public/images/home3.jpg"),
    linear-gradient(
      200.44deg,
      rgba(0, 0, 0, 0.0001) 16.41%,
      rgba(0, 0, 0, 0.51) 77.16%
    );

  //   border: 1px solid red;
  background-size: cover;
  //   object-fit: contain;
  //   background-repeat: no-repeat;
}

.container2 {
  // width: 100vw;
  // height: 809px;
  // border: 1px solid red;
  background: white;
  // background: #e5e5e5;
  padding: 93px 0 93px 8.8vw;
  .p {
    // border: 1px solid red;
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 64px;
    position: relative;
    /* identical to box height, or 178% */
    text-transform: capitalize;
    font-feature-settings: "salt" on, "liga" off;
    /* Text / Gray 900 */
    color: #18191f;
    &::before {
      content: " ";
      width: 28.18vw;
      height: 0px;
      left: 0px;
      top: 58px;
      border: 3px solid #f4511e;
      position: absolute;
    }
  }

  p + div {
    display: flex;
    @media (max-width: 1050px) {
      flex-direction: column;
      // justify-content: center;
      align-items: center;
    }
  }
}

.container3 {
  // width: 100vw;
  height: auto;
  background: #e5e5e5;
  padding: 93px 0 93px 8.8vw;
  .divs {
    display: flex;
    justify-content: space-between;
    // border: 1px solid red;
    padding-right: 11vw;
    @media (max-width: 670px) {
      flex-direction: column;
      gap: 5vh;
    }
    .p {
      // border: 1px solid red;
      font-family: "Inter";
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 64px;
      position: relative;
      /* identical to box height, or 178% */
      text-transform: capitalize;
      font-feature-settings: "salt" on, "liga" off;
      /* Text / Gray 900 */
      color: #18191f;
      &::before {
        content: " ";
        width: 6.18vw;
        height: 0px;
        left: 0px;
        top: 58px;
        border: 3px solid #f4511e;
        position: absolute;
      }
    }
  }
  .action {
    // border: 1px solid red;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5vh;
    @media (max-width: 1250px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 820px) {
      grid-template-columns: 1fr;
      place-items: center;
    }
  }
}
.pagination {
  // border: 4px solid blue;
  display: flex;
  justify-content: center;
  padding: 5vh;
}

.container4 {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;

  .inner {
    width: 82.7vw;
    display: flex;
    @media (max-width: 1250px) {
      flex-direction: column;
    }
  }

  .p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    text-transform: capitalize;
    // font-feature-settings: "salt" on, "liga" off;
    color: #000000;
    // border: 1px solid red;
    width: fit-content;
    text-align: center;
    white-space: wrap;
    margin: 110px 0 37px;
    width: 100%;
    @media (max-width: 600px) {
      font-size: 14px;
      width: 80vw;
      margin: 110px 10vw 37px;
    }
  }
  .inner2 {
    height: auto;
    background: #ffffff;
    box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    h1 {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      /* identical to box height, or 114% */
      text-align: center;
      letter-spacing: 0.1px;
      color: #f4511e;
      margin: 45px 0 95px;
      // border: 1px solid red;
      width: fit-content;
      @media (max-width: 600px) {
        font-size: 18px;
      }
    }
    form {
      display: grid;
      place-items: center;
      .property {
        // border: 1px solid blue;
        display: grid;
        padding: 0 4.6vw;
        gap: 1.8vw;
        margin-bottom: 55px; //take note
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: 1200px) {
          // display: grid;
          // grid-template-columns: repeat(2, 1fr);
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          // justify-content: center;
          align-items: center;
          // border: 1px solid red;
        }
        .div {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .span {
            // border: 1px solid blue;
            width: fit-content;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 24px;

            letter-spacing: 0.2px;

            color: #252b42;
          }
        }
      }
    }
  }
}

.container5 {
  // width: 1440px;
  margin-top: 110px;
  // margin-bottom: 210px;
  // height: 596px;
  // border: 1px solid red;
  background: rgba(244, 81, 30, 0.07);
  display: flex;
  @media (max-width: 1200px) {
    flex-direction: column;
    height: auto;
  }
  iframe {
    // border: 7px solid red;
    flex-basis: 50%;
    height: 596px;
    @media (max-width: 1200px) {
      // height: 596px;
      // border: 7px dashed red;
    }
  }
}

.container6 {
  // width: 1440px;
  // height: 543px;
  padding: 100px 6.6vw;
  // border: 3px solid red;
  background: #ffffff;
}
