.wrapper {
//   border: 3px solid red;
  display: flex;
  height: calc(100vh - 91px);
  justify-content: center;
  align-items: center;
  gap: 12.88vw;
  @media (max-width: 797px) {
    flex-direction: column;
    //    align-items: center;
    //    justify-content: center;
    gap: 3vh;
  }
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    /* or 135% */
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #ffffff;
    // border: 1px solid red;
    width: 42.7vw;
    height: 210px;
    padding: 0 2vw;
    // height: auto;
    // left: 120px;
    // top: 291px;
    // align-self: center;
    @media (max-width: 1020px) {
      font-size: 42px;
       height: auto;
    }
    @media (max-width: 797px) {
      font-size: 32px;
      width: auto;
      text-align: center;
      //   width: 42.7vw;
    }
    @media (max-width: 340px) {
      font-size: 22px;
      //   width: auto;
      //   text-align: center;
      // //   width: 42.7vw;
    }
  }
  .div {
    // margin-top: 17vh;
    // align-self: center;
    // border: 8px solid blue;
    min-width: 29.8vw;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    @media (max-width: 797px) {
      flex-direction: column;
      align-self: center;
      margin-top: 0;
      width: 90%;
    }
    iframe {
      box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      outline: none;
      border: none;
      width: 100%;
      height: 340px;
      @media (max-width: 797px) {
        height: 265px;
      }
    }
    iframe + div {
      border: 1px solid rgba(0, 0, 0, 0.2);
      // border: 1px solid red;
      // width: 100%;
      width: auto;
      // z-index: -3;
      padding: 15px 1.6vw;
      background-color: white;
    //   background-color: transparent;
      border-radius: 10px;

      .search {
        // border: 1px solid red;
        width: 59px;
        // width: 4.3vw;
        display: grid;
        place-items: center;
        background: #23a6f0;
        border: 1px solid #e6e6e6;
        border-radius: 0px 5px 5px 0px;
      }
    }
  }
}
